<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<h1>Sign Up</h1>
<form action="/sign-up" method="POST">
    <input name="username" placeholder="username" />
    <input name="password" placeholder="password" />
    <input name="firstName" placeholder="first name" />
    <input name="lastName" placeholder="last name" />
    <input name="dateOfBirth" placeholder="date of birth" />
    <input name="bio" placeholder="bio" />
    <input type="submit" />
</form>

</body>
</html>